.messages {
  font-size: 16px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

.message {
  padding: 4px;
  display: flex;
  min-width: 20vw;
  max-width: 40vw;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      text-align: right;
      line-height: 30px;
      background: #445697;
      border-radius: 15px 0px 15px 15px;
      color: #E5F0E5;
      padding: 5px 20px 5px 20px;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  line-height: 30px;
  color: #4D4D4D;
  border-radius: 0px 15px 15px 15px;
  margin: 0 10px;
  max-width: 70%;
  padding: 5px 20px 5px 20px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 20px 10px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  margin-bottom: 20px;
  border: 2px solid #ececec;
}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 3px solid #93D295;
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    color: black;
    border: 3px solid #93D295;
    box-shadow: none;
  }
}
.chat-header {
  border-radius: 5px 5px 0px 0px;
  border: 2px solid #ececec;
  background-color: #93D295;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.chat-avatars img {
  width: 50px;
  height: 50px;
}
















