
.chat-messagebox {
  display: flex;
  flex-wrap: wrap;
}

.chat-user {
  background-color: blue;
}

.chat-partner {
  background-color: gray;
}

.chat-container {
  margin: auto;
}

.chat-body {
  position: absolute;
  left: 150px;
  min-width: 20vw;
  max-width: 40vw;
}

.message-submit {
  background: #93D295;
  height: 40px;
  width: 150px;
  color: white;
  margin: 4px;
  border-radius: 10px;
  border: 1px solid white;
}


