<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%#= image_tag message.user.avatar, class: "avatar" %>
  <div class="message-content"><%= message.content %> <br> <%= message.created_at.strftime("%-I:%M%p").downcase %></div>
</div>
