// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;

$primary-color: #6dd5ed;
$primary-color-dark: #2193b0;
$secondary-color: #D29393;
$secondary-color-dark: #C67676;

// $primary-color: #93D295;
// $primary-color-dark: #8AC48C;
// $secondary-color: #D29393;
// $secondary-color-dark: #C67676;
