// Specific CSS for your home-page
.home-container{
  position: relative;
  min-height:  100vh;
}

.question-about button {
  color: $primary-color-dark !important;
}

.landing {
  display: flex;
  color: #F4F4F4;
  width: 100%;
  height: 80vh;
  background-image: image-url("home_elephant.png");
  background-size: cover;
  padding: 100px;
  background-size: cover;
}

.landing h2, .landing-about h2,  {
  font-family: 'Lato', sans-serif;
}

.landing p, .landing-about p,  {
  font-family: 'Fira Sans', sans-serif;
}

.welcome-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.welcome-card button {
  max-width: 40vw;
}

.landing-about {
  display: flex;
  padding: 100px;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  height: 80vh;
  background: #F4F4F4;
}

.about-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 35vw;
  height: 20vh;

}

.about-cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.about-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}



.login-signup {
  display: flex;
}

.login-signup button {
  margin-right: 30px;
}


.about-card i, .about-card i, .about-card h4 {
  color: $primary-color-dark;
}


.landing-questions {
  background: radial-gradient($primary-color, $primary-color-dark);
  display: flex;
  justify-content: center;
  height: 80vh;
  padding: 100px;
}

.question-about {
  width: 35vw;
  flex-direction: column;
  display: flex;
  padding: 60px;
  margin-top: 60px;
}
.question-about button {
  background: #F4F4F4;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
  color: #93D295;
}

.question-about h3, .question-card h3 {
  color: #F4F4F4;
}

.question-card {
  background: rgba(33, 147, 176, .5);
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: 80px;
  height: 40vh;
  padding: 80px;
  text-align: center;
  align-items: center;
  position: relative;
  border-radius: 16px;
  margin-top: 50px;
}

.question-text {
  width: 30vw;
}

.question-icon {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 4px;
  left: 4px;
  padding: 33px 39px 33px 33px;
}

.question-card i, .question-card p {
  color: #F4F4F4;
}

.home-question input {
  border: .5px solid white;
  background: rgba(33, 147, 176, .5);
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.question-submit {
  background: #F4F4F4;
}


.home-newchat {
  border: 1px solid #F4F4F4;
  background: transparent;
  width: 200px;
  padding: 10px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
  color: #F4F4F4;
}

.homepage-users {
  display: flex;
  background: #F4F4F4;
  height: 80vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.home-user-cards {
  display: flex;
  border-radius: 15px;
  padding: 20px;
  justify-content: center;
  width: 70vw;
}

.home-user-card {
  display: flex;
  background: #F4F4F4;
  width: 30vw;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.home-user-bottom {
  display: flex;
}

.kiwi, .hippo, .dragon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 50%;
  border: 2px #F4F4F4 solid;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  width: 100px;
}

.user-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #93D295;
  width: 17vw;
  height: 16vh;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.home-card-content {
  display: flex;
  text-align: left;
  line-height: 10px;
  flex-direction: column;
  width: 17vw;
  padding: 25px 7px 10px;
  border: 2px solid #93D295;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border: 1.5px solid #93D295;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #93D295;
}

.caret:hover {
  color: rgba(33, 147, 176, .8);
}

.banner {
  height: 80vh;
  width: 100%;
}































