.ongoing-cards-container {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.ongoing-cards-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.ongoing-cards-body .ongoing-card {
  margin: 50px 20px -30px 0px;
}
