<!-- <div class="latest-journal-entries">
  <h5>Bad Tinderdate</h5>
  <div class="underline"></div>
  <p class="latest-journal-entries-date">07.07.2019</p>
  <p class="latest-journal-entries-text">Last night I went out on a Tinderdate. It sucked horrendously because …</p>
  <button class="button-secondary">Read</button>
</div> -->

<div class="latest-journal-entries">
  <h5><%= post.title.truncate(30) %></h5>
  <div class="underline"></div>
  <p class="latest-journal-entries-date"><%= post.created_at.strftime("%x %-I:%M %p") %></p>
  <p class="latest-journal-entries-text"><%= post.content.truncate(30) %></p>
  <div style="display: flex;">
    <%= link_to journal_post_path(post.journal, post.id) do %>
      <button class="button-default-transparent" style="margin-right: 1vw">Read</button>
    <% end %>
    <button class="button-secondary" style="margin-right: 1vw" data-toggle="modal" data-target="#modal-delete">
      Delete
    </button>
  </div>
</div>
