<div class="latest-journal-entries">
  <h5>Bad Tinderdate</h5>
  <div class="underline"></div>
  <p class="latest-journal-entries-date">07.07.2019</p>
  <p class="latest-journal-entries-text">Last night I went out on a Tinderdate. It sucked horrendously because …</p>
  <button class="button-secondary">Read</button>
</div>
