<div class="ongoing-container">
  <h1>Ongoing conversations</h1>

  <!-- SEARCH: app/views/shared/_search.html.erb -->
  <% if @matches.empty? %>
    <%= render "shared/empty_ongoing" %>
  <% else %>
    <%= render "shared/search" %>
  <% end %>
  <div class="ongoing-slider">
    <!-- CARD-ONGOING: app/views/shared/_card_ongoing.html.erb -->
    <i class="fas fa-caret-left fa-5x caret"></i>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <% @chatrooms.each do |chatroom| %>
            <div class="swiper-slide">
              <%= render "shared/card_ongoing", chatroom: chatroom %>
            </div>
          <% end %>
        </div>
        <br>
        <br>
        <div class="swiper-pagination swiper-pagination-black"></div>
      </div>
    <i class="fas fa-caret-right fa-5x caret"></i>
  </div>
</div>
