<div class="question-header-container">
  <div class="question-box">
    <div class="question-box-icons">
      <div class="icon-back">
        <i class="far fa-arrow-alt-circle-left"></i>
      </div>
      <div class="icon-info">
        <i class="fas fa-info-circle"></i>
      </div>
    </div>
    <h1><%= @questions %></h1>
    <h4>Question 3/3</h4>
    <form action="">
      <input type="text" placeholder="Write your answer here...">
      <button type="submit"><i class="fas fa-caret-right"></i></button>
    </form>
    <button class="button-primary">Start new chat</button>
  </div>
</div>
