<div class="topbar">
  <h1>Kind Koala</h1>
  <div class="topbar-info">
    <p><strong>13</strong> ongoing conversations</p>
    <p><strong>Not</strong> answered todays questions</p>
    <p><strong>2</strong> days since last journal entry</p>
  </div>
</div>
