<style>

  /* —————————————————————————————————
  —————————— DASHBOARD BODY ——————————
  ———————————————————————————————————— */

  .dashboard-body {
    position: relative;
    margin-left: 108px;
    width: auto;
    overflow: auto;
    z-index: 1;
    transition: .5s;
  }

  /* —————————————————————————————————
  —————————————— TOPBAR ——————————————
  ———————————————————————————————————— */

  .topbar {
    width: 100%;
    height: 125px;
    text-align: center;
    background: white;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
    overflow: hidden;
  }

  .topbar h1 {
    color: #222;
    padding-top: 20px;
    font-weight: 700;
  }

  .topbar-info {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 30px;
  }

  .topbar-info p {
    margin-top: 10px;
    color: #222;
  }


</style>

<script></script>

<div class="dashboard-container">

  <!-- SIDEBAR: app/views/users/_sidebar.html.erb -->
  <%= render "sidebar" %>

  <!-- BODY -->
  <div class="dashboard-body">

    <!-- TOPBAR: app/views/users/topbar.html.erb -->
    <%= render "topbar" %>

    <!-- QUESTION-HEADER: app/views/users/questionbox.html.erb -->
    <%= render "questionbox" %>

    <!-- ONGOING CONVERSATIONS -->
    <div class="ongoing-container">
      <h1>Ongoing conversations</h1>
      <input type="text" class="search">
      <div class="ongoing-slider">
        <div class="icon-arrow"></div>
        <!-- Card #1 -->
        <div class="ongoing-card-1">
          <div class="ongoing-card-top">
            <div class="avatar-large"></div>
          </div>
          <div class="ongoing-card-middle">
            <h2>Tired Tiger</h2>
            <p>Started conversation 07.07.2019</p>
          </div>
          <div class="ongoing-card-bottom">
            <button class="button-primary">Continue</button>
            <button class="button-secondary">End</button>
          </div>
        </div>
        <!-- Card #2 -->
        <div class="ongoing-card-2">
          <div class="ongoing-card-top">
            <div class="avatar-large"></div>
          </div>
          <div class="ongoing-card-middle">
            <h2>Lazy Lion</h2>
            <p>Started conversation 07.07.2019</p>
          </div>
          <div class="ongoing-card-bottom">
            <button class="button-primary">Continue</button>
            <button class="button-secondary">End</button>
          </div>
        </div>
        <!-- Card #3 -->
        <div class="ongoing-card-3">
          <div class="ongoing-card-top">
            <div class="avatar-large"></div>
          </div>
          <div class="ongoing-card-middle">
            <h2>Polite Panda</h2>
            <p>Started conversation 07.07.2019</p>
          </div>
          <div class="ongoing-card-bottom">
            <button class="button-primary">Continue</button>
            <button class="button-secondary">End</button>
          </div>
        </div>
        <div class="icon-arrow"></div>
      </div>
    </div> <!-- End of .ongoing-container -->

    <!-- JOURNAL -->
    <div class="journal-container">
      <!-- NEW ENTRY -->
      <div class="new-journal-entry">
        <div class="new-journal-entry-top">
          <h1>Todays journal entry</h1>
          <p>07.07.2019</p>
        </div>
        <div class="new-journal-entry-bottom">
          <form action="">
            <input type="text" class="label" placeholder="Title">
            <input type="text" class="text-area" placeholder="Your text goes here">
            <input type="text" class="add-photo">
            <input type="submit">
          </form>
        </div>
      </div>
      <!-- LATEST ENTRIES -->
      <div class="latest-journal-entries">
        <div class="latest-journal-entries-first">
          <h2>Bad Tinderdate</h2>
          <h4>07.07.2019</h4>
          <p>Last night I went out on a Tinderdate. It sucked horrendously because …</p>
          <button class="secondary">Read</button>
        </div>
        <div class="latest-journal-entries-second">
          <h2>Good Sunday</h2>
          <h4>06.06.2019</h4>
          <p>I woke up this Sunday feeling great. I made myself a big breakfast, wen …</p>
          <button class="secondary">Read</button>
        </div>
        <div class="latest-journal-entries-third">
          <h2>Social Media hysteria</h2>
          <h4>05.05.2019</h4>
          <p>What’s up with social media being the most important aspect of ever …</p>
          <button class="secondary">Read</button>
        </div>
      </div>
    </div> <!-- End of .journal-container -->

    <div class="text-container">
      <h1>Talk to someone</h1>
      <p>There are currently 437 people online. I bet they all would like to talk to you! Start a new chat and see what a new conversation can bring you.</p>
      <button class="primary">Start new chat</button>
    </div> <!-- End of .text-container -->

    <div class="footer-container">
      <div class="logo">
        <div class="logo-emblem-white"></div>
        <h2>Compassion</h2>
        <p>We can all help.</p>
        <p>Talk. Experience. Share.</p>
      </div>
      <div class="follow">
        <div class="icon-facebook"></div>
        <div class="icon-instagram"></div>
        <div class="icon-twitter"></div>
      </div>
      <div class="legal">
        <ul>
          <li>Terms</li>
          <li>Privacy</li>
        </ul>
      </div>
      <div class="project">
        <ul>
          <li>Designguide</li>
          <li>Components</li>
        </ul>
      </div>
    </div>

  </div> <!-- End of .dashboard-body -->

</div> <!-- End of .dashboard-container -->
