<!-- PRIMARY (GREEN) -->
<button class="button-primary">Primary</button>

<!-- SECONDARY (RED) -->
<button class="button-secondary">Secondary</button>

<!-- DEFAULT - TRANSPARENT -->
<button class="button-default-transparent">Default Transparent</button>

<!-- EXPAND - LARGE -->
<div class="button-expand-large">
  <i class="fas fa-plus"></i>
</div>
