<div class="ongoing-card">
  <div class="ongoing-card-top">
    <div class="avatar-medium">
      <%= image_tag("avatar_medium_koala.png") %>
    </div>
  </div>
  <div class="ongoing-card-middle">
    <h2>Bob Bobcat</h2>
    <p>Started conversation 07.07.2019</p>
  </div>
  <div class="ongoing-card-bottom">
    <button class="button-primary">Continue</button>
    <button class="button-secondary">End</button>
  </div>
</div>
