<div class="footer-container">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
    <path id="Path_170" data-name="Path 170" d="M0,14.886S148.507-29.34,268.066-29.429c141.18.914,299.888,38.8,400.014,61.3,116.772,26.239,308.485,7.524,406.134-27.9C1256.3-42.464,1366-4.8,1366-4.8V282.5H0Z" transform="translate(0 29.429)" fill="#93d295"/>
  </svg>
  <div class="footer-content">
    <div class="footer-left">
      <h3>Compassion</h3>
      <div class="footer-left-tag">
        <p><small>We can all help.</small></p>
        <p><small>Talk, experience, share.</small></p>
      </div>
    </div>
    <div class="footer-middle">
      <h3>Follow</h3>
      <div class="footer-middle-icons">
        <a href="http://www.penisland.net/index.html"><i class="fab fa-instagram fa-3x"></i></a>
        <a href=""><i class="fab fa-facebook-square fa-3x"></i></a>
        <a href=""><i class="fab fa-twitter fa-3x"></i></a>
      </div>
    </div>
    <div class="footer-right">
      <div class="Legal">
        <h3>Legal</h3>
        <ul>
          <li><span><small>Terms</small></span></li>
          <li><span><small>Privacy</small></span></li>
        </ul>
      </div>
      <div class="Project">
        <h3>Project</h3>
        <ul>
          <li><span><small>Designguide</small></span></li>
          <li><span><small>Components</small></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
