<div class="footer-container">
  <div class="footer-content">

    <div class="footer-left-container">
      <h3>Compassion</h3>
      <div class="footer-left-tag">
        <p>We can all help.<br>
        Talk, experience, share.</p>
      </div>
    </div>

    <div class="footer-middle-left-container">
      <h3>Follow</h3>
      <div class="footer-middle-icons">
        <a href="https://www.instagram.com/depression.quoteszz/?hl=en">
          <i class="fab fa-instagram fa-3x"></i>
        </a>
        <a href="https://www.facebook.com/Depressxd/">
          <i class="fab fa-facebook-square fa-3x"></i>
        </a>
        <a href="https://twitter.com/hashtag/depressed?lang=en">
          <i class="fab fa-twitter fa-3x"></i>
        </a>
      </div>
    </div>

    <div class="footer-middle-right-container">
      <div class="Legal">
        <h3>Legal</h3>
        <ul>
          <a href="https://www.termsandconditionsgenerator.com/"><li>Terms</li></a>
          <a href="https://www.gdprprivacypolicy.net/"><li>Privacy</li></a>
        </ul>
      </div>
    </div>

    <div class="footer-right-container">
      <div class="Project">
        <h3>Project</h3>
        <ul>
          <a href="https://xd.adobe.com/spec/d8d816bf-1ffa-4815-5928-5f57837f47cd-aee9/screen/06c39fb9-9324-43e7-8c2a-b3e329dc74bf/Designguide"><li>Designguide</li></a>
          <a href="https://xd.adobe.com/spec/d8d816bf-1ffa-4815-5928-5f57837f47cd-aee9/screen/90fbaa1a-8322-44d9-ae9d-53c5ce043553/Master-Components"><li>Components</li></a>
        </ul>
      </div>
    </div>

  </div>
</div>
