

<style>
  

  .new-journal-entry-index {
    border-radius: 15px;
  }

  .new-journal-entry-index-top {
    justify-content: space-between;
    margin-right: 50px;
    border-bottom: 1px solid #EEE;
  }

  .new-journal-entry-index-top h2 {
    color: black;
  }

  .new-journal-entry-index-top p {
    color: #EEE;
  }

  .new-journal-entry-index {
    min-width: 45%;
  }

  .new-journal-entry-index-bottom .form-group {
    width: 60%;
    margin-top: 10px;
  }

  .new-journal-entry-index-bottom .form-group input,
  .new-journal-entry-index-bottom .text-area {
    margin-top: 20px;
  }

  .new-journal-entry-index-bottom .form-group input {
    background: rgba(255,255,255,.8);
    border: 1px solid #8AC48C;
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    color: #333;
  }


  .new-journal-entry-index-bottom .form-group input::placeholder, .new-journal-entry-index-bottom .text-area::placeholder {
    color: #AAA;
  }

  .new-journal-entry-index-bottom .form-group input:focus {
    outline: none;
  }

  .label,
  .add-photo {
    min-width: 100px;
    width: 70%;
  }

  .new-journal-entry-index-bottom .text-area {
    min-width: 100px;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    background-color: rgba(255,255,255,.8);
  }

  .journal-submit {
    margin-top: 20px;
  }

  .journal-container .simple_form {
    display: flex;
  }

  .add-photo {
    margin-right: 50px;
    float: left;
  }


  .button-journal-post {
    width: 150px;
    height: 40px;
    background: #93D295;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: background .25s;
  }

</style>


<div class="new-journal-entry-index">
  <div class="new-journal-entry-index-top">
  </div>
  <div class="new-journal-entry-index-bottom">
    <h5>Add a New Journal Entry</h5>
    <form action="/">
      <input type="text" class="input label">
      <input type="text" class="input text-area">
    </form>
    
  </div>
</div>