<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="questions-info" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="questions-info">Why all them questions?!</h3>
      </div>
      <div class="modal-body">
        <p>Sometimes, a simple introduction is the best way to proceed. But, then what? Open-ended questions are your friend in these situations. There are tons of ways to use these questions. Remember don’t be afraid to delve deeply into the conversation. Answering the specific question isn’t the goal, having an interesting conversation is!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

