<div class="home-container">
  <div class="landing-action">
    <div class="welcome-card">
      <h2>Thank you for submitting your email. We will be in touch as soon.</h2>
      <br>
    </div>
  </div>
</div>
<%#= render 'shared/footer' %>




















