<div class="new-journal-container">
  <div class="new-journal-entry-index">
    <h3>Add a New Journal Entry</h3>
    <div class="new-journal-entry-index-bottom">
      <%= simple_form_for ([@journal, @post]) do |f| %>
        <%= f.input :title, class: "input label new-post-title", label: false, placeholder:"Title", input_html: { autocomplete: 'off' } %>
        <%= f.text_area :content, class: "input text-area", placeholder: "Start a new journal entry!", input_html: { autocomplete: 'off' } %>
        <br><br>
        <div style="display: flex;">
          <%= f.submit :Save, class: "button-default-transparent" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
