<div class="new-journal-container">
  <div class="new-journal-entry-index">
    <div class="new-journal-entry-index-bottom">
      <h5>Add a New Journal Entry</h5>
      <%= simple_form_for ([@journal, @post]) do |f| %>
        <%= f.input :title, class: "input label", label: false, placeholder:"Title" %>
        <%= f.text_area :content, class: "input text-area", placeholder: "Start a new journal entry!" %>
        <br><br><br>
        <%= f.submit :submit, class: "button-grey" %>
      <% end %>
    </div>
  </div>
</div>
