

<%= render "shared/sidebar" %>
<div class="dashboard-body">
  <div class="journal-container-show">
    <%= render "shared/post_card" %>
    <div class="post-show-image">
      <%= image_tag "journal" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
