.footer-container {
  bottom: 0;
  overflow: hidden;
}

.footer-container svg {
  position: absolute;
  overflow: hidden;
}

.footer-content {
  display: flex;
  color: white;
  justify-content: space-between;
  padding-bottom: 80px;
}

.footer-right {
  display: flex;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 12px;
  width: 33%;
}

.footer-left-tag {
  line-height: 3px;
  margin-top: 10px;
}


.footer-middle {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 10vw;
}

.footer-middle-icons {
  display: flex;
  justify-content: space-between;
}

.footer-middle-icons i {
  margin: 10px;
}

.footer-middle-icons a {
  color: white;
}

.footer-middle-icons a:hover {
  color: #ddd;
}


.footer-right {
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  width: 33%;
}

.footer-right h3 {
  display: flex;
}

li span {
  position: relative;
  left: -5px;
}
