.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.BG-primary-color {
  background: $primary-color !important;
}

.BG-secondary-color {
  background: $secondary-color !important;
}

.content-primary-color {
  color: $primary-color !important;
}

.content-secondary-color {
  color: $secondary-color !important;
}

.height-50px {
  height: 50px !important;
}

.height-100px {
  height: 100px !important;
}

.height-150px {
  height: 150px !important;
}

.height-200px {
  height: 200px !important;
}

.height-225px {
  height: 225px !important;
}

.height-250px {
  height: 250px !important;
}

.height-300px {
  height: 300px !important;
}

