.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(-120deg, $primary-color, $primary-color-dark);
  box-shadow: 0px 2px 3px rgba(0,0,0,.2);
  color: white;
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  width: 70px;
  margin: 10px;
  text-decoration: none;
}

.navbar-logo h3 {
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-logo a:hover h3, .navbar-logo a:hover img {
  // color: white;
  filter: hue-rotate(45deg);
}

.nav-item .nav-link{
  background: rgba(0,0,0,0);
  color: white;
}

.dropdown-menu {
  background: $primary-color;
  margin-top: 10px;
  border: none;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 15px;
}

.nav-item a {
  color: white !important;
}

.nav-link .active {
  color: white;
}

.dropdown-item {
  color: white;
}

// NEW CODE

.avatar {
  border: 2px solid white;
  margin: 20px;
  cursor: pointer;
  transform: scale(1.5);
  transition: .25;
}

.avatar:hover {
  transform: scale(1.4);
}

.navbar-nav .active,
.login-button {
  margin: 20px;
  border-radius: 12px;
}

.login-button:hover {
  background: $primary-color !important;
}

.active .button-default-transparent:hover {
  background: $primary-color !important;
}

.navbar-nav .active a {
  text-align: center;
  color: white !important;
}

.login-button {
  text-align: center;
  background: $primary-color-dark !important;
}


.uselessredirect{
  margin-top: 27px;
  margin-right: 10px;
  color: #eee;
}



