.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,.2)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo a {
  display: flex;
  align-items: center;
  width: 70px;
  margin: 10px;
  text-decoration:none;
}

.navbar-logo h3 {
  color: #93D295;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-logo a:hover h3, .navbar-logo a:hover img {
  filter: hue-rotate(45deg);
}

.nav-item .nav-link{
  background: white;
}

.nav-link .active {
  color: #93D295;
}

.dropdown-item {
  color: #93D295;
}
