/* SEARCH */

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.search-box-items {
  display: flex;
  justify-content: flex-end;
}

.search-box-items input {
  height: 40px;
  width: 300px;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid gray;
  padding-left: 12.5px;
  outline: none;
}

.search-box i {
  position: absolute;
  padding: 10px;
  font-size: 1.2em;
  color: gray;
}
