.swiper-container {
  width: 100%;
  height: 100;
}



.swiper-slide {
  padding: 20px;
}

// .swiper-wrapper {
//   align-content: center;
// }


.caret {
  color: $primary-color;
  align-self: center;
  outline: none;
  cursor: pointer;
}

.caret:active {
  outline: none;
}

// .ongoing-landing {
//   border: none;
//   background: transparent;
//   box-shadow: -1px 33px 22px -20px rgba(0,0,0,0.1);
// }
