
.togglebutton {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30px;
  right: 30px;
}

.search-toggle-on, .search-toggle-off {
  position: absolute;
  top: 55px;
  color: #919191;
}


.search-toggle-off {
  position: absolute;
  color: #93D295;
  right: 2px;
}

.search-toggle-on {
  position: absolute;
  color: #ed6868;
  right: 6px;
}



.toggleSearching h1 {
  padding-left: 60px;
  color: #0c1a0c;
}

.topbar-toggle-search {
  background: transparent;
  border: none;
}


.toggle-border {
  position: absolute;
  top: 20px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #93D295;
}

.toggle-on {
  color: #ed6868;
}

.toggle-off {
  color: #93D295;
}


  .toggleSearching {
    display: flex;
    justify-content: center;
    padding-right: 73px;
  }

  .topbar-toggle-search:active, .topbar-toggle-search:focus, .topbar-toggle-search:focus:active, .topbar-toggle-search:active:focus {
    background: none;
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }



