
.toggleswitch {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

}

.search-toggle-on, .search-toggle-off {
  position: absolute;
  top: 55px;
  color: #919191;
}

.toggleSearching h1 {
  padding-right: 60px;
  color: $primary-color-dark;
}

.toggleswitch p {
  position: absolute;
  top: 26px;
  right: 120px;
}

.text-hide {
  display: none;
}

