.journal-container-show-content {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.journal-content-container {
  height: 680px;
  margin-left: -30px;
  width: 500px;
  position: relative;
}

.post-title-show {
  position: absolute;
  top: 80px;
  left: 20px;
  height: 40px;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.post-date-show {
  position: absolute;
  top: 20px;
  right: 30px;
}

.post-text-show {
  position: absolute;
  top: 140px;
  left: 20px;
  width: 90%;
  height: 65%;
  overflow: scroll;
  word-wrap: break-word;
  line-height: 1.75em;
}

.post-card-show a {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.journal-container-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-120deg, $primary-color, $primary-color-dark);
}

.post-show-image {
  display: flex;
}

.post-show-image img {
  // position: absolute;
  top: 0;
  left: 0;
  min-width: 600px;
  width: 60%;
}

.footer-container-journal {
  z-index: 9999;
  margin-top: -80px;
}





